.gradle
etc/db
build/
!gradle/wrapper/gradle-wrapper.jar
#!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
#!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
#!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

db-data/
spark-data/
bash/env.sh
.env
.DS_Store
bash/docker_password.pswd

.ropeproject
keys/
bigtable-snowflake-integration/**/keys/
bigtable-snowflake-integration/**/.terraform/
bigtable-snowflake-integration/**/.terraform.*
bigtable-snowflake-integration/**/terraform.*

snowflake/**/keys/

*.terraform*
*.tfstate
*.tfstate.*

*.password
